<h1>Reward</h1>

<div class = "reward_description">
  <div>
    <%= @reward.pledge_limit %>
  </div> 
  <div>
  <%= @reward.description %>
  </div>
</div>

<div>
  <%= link_to "Edit", edit_reward_path %> 
</div>